# -------------------------
# Node modules and logs
# -------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.expo/
.expo-shared/

# -------------------------
# macOS system files
# -------------------------
.DS_Store

# -------------------------
# Expo specific files
# -------------------------
*.expo
*.expo.js

# -------------------------
# Environment variables
# -------------------------
.env
.env.*

# -------------------------
# iOS / Android native builds (only if using EAS bare workflow or ejecting)
# -------------------------
ios/
android/
*.xcworkspace
*.xcodeproj
*.idea/
*.gradle/
*.iml
build/

# -------------------------
# VSCode and other IDE settings
# -------------------------
.vscode/
*.swp
*.swo

# -------------------------
# Other
# -------------------------
coverage/
dist/
web-build/
